# Active Spring profile (dev, test, prod)
SPRING_PROFILES_ACTIVE=dev

# JWT
JWT_SECRET=

# Redis cache credentials
REDIS_CACHE_HOST=
REDIS_CACHE_PORT=
REDIS_CACHE_PASSWORD=

# Microservices URLs
AUTH_SERVICE_URL=
CORE_SERVICE_URL=
CHAT_SERVICE_URL=
CANTEEN_SERVICE_URL=
FETCHER_SERVICE_URL=
BILLING_SERVICE_URL=