# Active Spring profile (dev, test, prod)
SPRING_PROFILES_ACTIVE=dev

# JWT
JWT_SECRET=

# Redis Credentials
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Microservices URLs
CORE_SERVICE_URL=
CHAT_SERVICE_URL=
BILLING_SERVICE_URL=
FETCHER_SERVICE_URL=
